.ant-picker-panel-container {
    min-width: 555px;
}

.ant-picker-dropdown-placement-bottomLeft .ant-picker-range-arrow {
    display: none;
}

.ant-picker-dropdown {
    width: 50%;
    width: calc((100% / 2) - 40px);
    left: calc((100% / 4) + 20px);
    margin: auto;
}

.ant-picker-dropdown .ant-picker-dropdown-range .ant-picker-dropdown-placement-bottomLeft {
    position: fixed;
    left: 0px;
}

.ant-picker-panels {
    width: 100%;
}

.ant-picker-panel {
    width: calc(100% / 2);
}

.ant-picker-date-panel {
    width: 100%;
}

.ant-picker-panel-container .ant-picker-panel-focused:first-child {
    border-right: 1px solid #f0f0f0;;
}


.ant-picker-date-panel .ant-picker-content {
    width: 100%;
}

.ant-picker-range-arrow::after {
    display: none;
}